body{
  padding: 0;
  margin: 0;
}

.Sidebar{
background-color: white;
border-right: 1px solid lightgrey;
height:100vh;
min-width: 300px;
max-width: 350px;
overflow-y: scroll;
scrollbar-width:none;
-ms-overflow-style: none;
scrollbar-width:none;
}
.Sidebar::-webkit-scrollbar{
 display: none;

}

.positi0nSticky{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}


.top{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
background-color:whitesmoke;

border-bottom: 1px solid lightgrey;


}
.left{

}
.left img{
    object-fit:contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }


.right{
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .search{
  width: 100%;
  background-color:white;
  display: flex;
  justify-content:center;
  align-items: center;


  }
.search_input{
    flex: 1
    }

  .chats{
    padding: 10px;
    background-color: white;
 

 }
 .chats :hover {
 background-color: #e9e9e9;;
  }
  .search{
 display: flex;
 align-items: center ;
  }
  .search input{
  outline: none;
  border: none;
  background-color: white;
  flex: 1;

  }


.uploading{
display: flex;
flex-direction: column;

  }

  .uploading input{
  background-color: white;
  border: none;
  outline: 0;


  }