body{

    padding: 0;
    margin: 0;
}


.ChatAPP
{display: flex;
flex-direction: row;


}

.side{
    flex: 20;
}

.Chatareas{
flex: 100;
overflow-x: hidden;

}
body {
padding: 0px;
margin: 0px;
box-sizing: border-box;


}